{% extends 'frontend/base.html' %}
{% block content %}

<form action="" class="container">

    <h2>Register</h2>

    <div class="form-row form-group">
        <div class="col-sm-6 label-column">
            <label class="col-form-label">Username </label>
        </div>
        <div class="col-sm-8 input-column">
            <input class="form-control" type="text" name="username" required id="username" placeholder="name">
        </div>
    </div>
    <br>

    <div class="form-row form-group">
        <div class="col-sm-6 label-column">
            <label class="col-form-label">First Name </label>
        </div>
        <div class="col-sm-8 input-column">
            <input class="form-control" type="text" name="fname" required id="fname" placeholder="first name">
        </div>
    </div>
    <br>

    <div class="form-row form-group">
        <div class="col-sm-6 label-column">
            <label class="col-form-label">Last Name </label>
        </div>
        <div class="col-sm-8 input-column">
            <input class="form-control" type="text" name="lname" required id="lname" placeholder="last name">
        </div>
    </div>
    <br>

    <div class="form-row form-group">
        <div class="col-sm-6 label-column">
            <label class="col-form-label">Email </label>
        </div>
        <div class="col-sm-8 input-column">
            <input class="form-control" type="email" name="email" id="email" placeholder="email" required>
        </div>
    </div>
    <br>

    <div class="form-row form-group">
        <div class="col-sm-6 label-column">
            <label class="col-form-label">Password </label>
        </div>
        <div class="col-sm-8 input-column">
            <input class="form-control" type="password" name="password" id="password" required placeholder="password">
        </div>
    </div>
    <br>

    <button class="btn btn-primary" type="button" id="register-button">Register</button>
    <br>
    <a href="{% url 'home' %}" class="btn btn-secondary my-4">Home</a>
</form>

<script>
    
    function register() {
        email = document.getElementById('email').value
        username = document.getElementById('username').value
        fname = document.getElementById('fname').value
        lname = document.getElementById('lname').value
        password = document.getElementById('password').value

        if(email && username && fname && lname && password) {
            axios({
                url: "{% url 'api-register' %}",
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                data: {
                    first_name: fname,
                    last_name: lname,
                    username: username,
                    email: email,
                    password: password
                }

            })
            .then(res => {
                if (res.status == 200) {
                    alert("User Created!")
                    console.log("user created!");
                    window.location = "{% url 'login' %}";
                }
            })
            .catch(err => {
                console.log(err.response);
                errdata = err.response.data;
                errmsg = ""
                for (var field in errdata) {
                    errmsg += String(errdata[field]);
                    errmsg += "  ";
                }
                alert(errmsg);
            });
        }
        else {
            alert("enter all fields please");
        }
    }

    document.getElementById('register-button').addEventListener('click', register);
    

</script>

{% endblock %}